<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block head %}
    <title> {% block title %} Title {% endblock %}  </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% endblock %}


</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Nentindoe Draw</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    {% if 'user' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ session['user'] }}</a>
                    </li>

                    {% endif %}

                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>

                    {% if 'user' in session %}

                    <li class="nav-item">
                        <a class="nav-link" href="#">My Drawings</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/myGroups">My Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>


    {% block content %}
    content
    {% endblock %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	    crossorigin="anonymous"></script>

<!-- 
    <footer class="-footer bg-dark fixed-bottom text-warning text-right ">&copy; Nentindoe &mdash; Vincent, Yin On, Mohtasim and Zane </footer> -->

</body>
</html>
