{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="page-header">
        <h1> {{ groupname }}</h1>
    </div>
</div>


<div class="container-fluid">
    <div class="block-center">
        <div class="row">
          <div col-10>
            {% for p in groupPics %}
            <div class="col-3" style="padding-top: 10px;">
                <div class="card" style="width: 24rem;">
                    <img class="card-img-top" size="100%" style="width:100%;object-fit:cover;height:15vw" src={{ p }} alt="No image">
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
          </div>
          <div col-2>

          </div>
        </div>
    </div>
</div>


{% endblock %}
