{% extends "base.html" %}

{% block title %} Main Draw {% endblock %}

{% block content %}

<div>
    <canvas height="600" width="900" id="slate" style="border: 1px solid blue">
    </canvas>
</div>


<div class="container-fluid">
    <div class="btn-group">
        <button type="button" name="button" id="clear" class="btn btn-primary"> Clear </button>
        <button type="button" name="button" id="line" class="btn btn-primary"> Line </button>

    </div>
    <div class="form-group row">
        <label for="strokewidth" class="col-2 col-form-label">Line Thickness</label>
        <div class="col-1">
            <input class="form-control" type="number" value="1" id="strokewidth">
        </div>

    </div>

    <label for="colorp">Choose a Color</label>
    <input type="color" id="colorp" name="color" value="#0000ff">

    <br>

    <form action="/save" method="post">
        <button type="button" name="button" class="btn btn-primary m-1" onclick="downloadImage()"> Save Image</button>
        <input type="hidden" name="imgurl" value="" id="imgurl"/>
        <button type="submit" name="submit" class="btn btn-secondary m-1"> Submit</button>
    </form>
</div>


<script src="../static/draw.js"></script>

{% endblock %}
